    <% @posts.each do |post| %>
    <!-- this should be moved to a partial-->
      <div class="col-md-10" style="margin-bottom:30px;">
        <div class="media" style="position:relative;">
          <img class="media-object img-rounded pull-left" style="position:relative; z-index:1; width: 200px; height: 200px;" src="<%= post.image_url %>">
          <!--play form-->
          <%= form_tag posts_play_path, :method => 'get', :remote => true do %>
            <%= hidden_field_tag(:post_id, post.id) %>
            <button type="submit" class="img-rounded glyphicon glyphicon-play-circle"></button>
          <% end %>
          <!-- end play form-->

 
      
          <div class="media-body" style="height: 150px;">
            <div class="hidden-xs">
              <h4 class="media-heading"><%= post.title %></h4>
            </div>
            <div class="visible-xs">
              <!--<h5 class="media-heading"><%= post.title %></h5>-->
            </div>

         <!-- Nested media object -->
            <div class="media col-md-10" >
              <div class = "hidden-xs">
                <%= truncate(post.body.html_safe, :length => 300) %>
              </div>
              <div class ="visible-xs">
               <!-- truncate(post.body, :length => 50) -->
              </div>
            </div>

          </div>
          <div class="media col-md-4" style="">
            <div class="hidden-xs">
              <a href="/posts/<%= post.id %>" class="btn btn-primary">Peep That</a>
            </div>
          </div>          
         </div>
        </div>
    <!-- end partial -->

    <% end %>
 
</table>

<br>

<%= link_to 'Ads', new_post_path %>


